-i
-o "{{ downloadDir }}/%(playlist)s/%(title)s.%(ext)s"

# Archive Settings
--download-archive {{ archivePath }}
-a {{ batchPath }}

# Uniform Format
-ciwx
--audio-format mp3
--no-post-overwrites

# Get metadata
--add-metadata 
--embed-thumbnail

# Debug
-v
